html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(247, 247, 247);
    background: rgb(24, 24, 24);
  }
}

input {
  outline: 0;
}

/* Root */

:root {
  --main-blue: rgb(100, 149, 237);
  --input-bg: rgb(59, 59, 59);
}

/* Title */

.title-text {
  /* background-color: red; */
  text-align: center;
}

/* Login */

.list-title {
  text-align: center;
}

.nav-container {
  /* border: solid 1px green; */
  display: flex;
  justify-content: flex-end;
}

.sign-out-btn {
  background-color: var(--main-blue);
  border: solid 1px transparent;
  border-radius: 10rem;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  transition: 200ms all ease-in;
}

.sign-out-btn:hover {
  background-color: transparent;
  border: solid 1px var(--main-blue);
  border-radius: 10rem;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  animation-name: shake;
  animation-duration: 0.4s;
  transition-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: rotate(0turn) scale(1);
    color: white;
  }
  25% {
    transform: rotate(0.01turn) scale(1);
    color: coral;
    border: solid 1px coral;
  }
  75% {
    transform: rotate(-0.01turn) scale(1);
    color: coral;
    border: solid 1px coral;
  }
  100% {
    transform: rotate(0turn) scale(1);
    color: white;
  }
}

.login-page {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-container {
  /* background-color: blue; */
  border: solid 1px darkgray;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  /* max-width: 60rem; */
  /* height: 30vh; */
  /* width: 45vw; */
}

.email-input,
.password-input {
  border: solid 0px transparent;
  padding: 1rem;
  min-width: 20rem;
  border-radius: 0.5rem;
  transition: 200ms all ease-in-out;
}

.email-input-container:hover,
.password-input-container:hover {
  border: solid 1px var(--main-blue);
}

.login-btn {
  background-color: var(--main-blue);
  border-radius: 4px;
  border: solid 0px transparent;
  padding: 1rem 1rem;
  transition: 0.3s all cubic-bezier(1, 0, 0.99, 0.1);
  box-shadow: inset 0 0 0 0 coral;
}

.login-btn:hover {
  box-shadow: inset 400px 0 0 0 coral;
}

.valid-input {
  border: solid 1px green;
  padding: 1rem;
  border-radius: 0.5rem;
}

.invalid-input {
  border: solid 1px red;
  background-color: var(--input-bg);
  border-radius: 0.5rem;
}

.error-container {
  border: solid 1px gray;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0rem;
}

.email-input-container,
.password-input-container {
  background-color: var(--input-bg);
  border: solid 1px gray;
  border-radius: 0.5rem;
  min-width: 22rem;
}

/* .password-input-container {
  background-color: var(--input-bg);
  border: solid 1px gray;
  border-radius: 0.5rem;
} */

.profile-icon {
  /* color: red; */
  padding-left: 1rem;
}

.lock-icon {
  padding-left: 1rem;
}

/* List */

.list-section {
  /* border: solid 1px blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  /* border: solid 1px green; */
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-container {
  border: solid 1px gray;
  border-radius: 2rem;
  padding: 0.5rem;
}

.search-container:hover {
  border: solid 1px var(--main-blue);
  border-radius: 2rem;
  padding: 0.5rem;
}

.search-icon {
  color: var(--main-blue);
  padding: 0rem 1rem;
}

.search {
  border: solid 1px transparent;
  background-color: transparent;
  padding: 0.5rem;
}

.search-focus {
  border: solid 1px var(--main-blue);
  border-radius: 2rem;
  padding: 0.5rem;
}

.new-btn {
  background-color: var(--main-blue);
  border: none;
  border-radius: 4px;
  height: 3rem;
  width: 100px;
  margin: 0rem 2rem;
  padding: 0.5rem;
  transition: 0.3s all cubic-bezier(1, -0.03, 0.38, 0.97);
  box-shadow: inset 0 0 0 0 coral;
  cursor: pointer;
}

.new-btn:hover {
  border: none;
  box-shadow: inset 300px 0 0 0 coral;
  color: white;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px gray;
  border-radius: 0.2rem;
  width: 30rem;
  margin: 1rem;
}

/* List Form */

.list-form {
  border: solid 1px gray;
  border-radius: 0.2rem;
  padding: 1rem 1.5rem 1.5rem;
  margin: 1rem 0rem;
  animation: expand 1s ease-in-out;
}

@keyframes expand {
  0% {
    opacity: 0%;
    transform: translateY(-50%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.new-todo-label {
  /* border: solid 1px green; */
  display: block;
  font-weight: 600;
  font-size: large;
}

.new-todo-input {
  border: solid 1px gray;
  background-color: transparent;
  border-radius: 2rem;
  padding: 1rem 1.6rem;
}

.new-todo-input:hover {
  border: solid 1px var(--main-blue);
  background-color: transparent;
  border-radius: 2rem;
  padding: 1rem 1.6rem;
}

.new-todo-focus {
  border: solid 1px var(--main-blue);
  background-color: transparent;
  border-radius: 2rem;
  padding: 1rem 1.6rem;
}

.save-btn {
  background-color: var(--main-blue);
  border: none;
  border-radius: 4px;
  height: 3rem;
  width: 100px;
  margin: 0rem 2rem;
  padding: 0.5rem;
  transition: 0.3s all cubic-bezier(1, -0.03, 0.38, 0.97);
  box-shadow: inset 0 0 0 0 coral;
  cursor: pointer;
}

.save-btn:hover {
  border: none;
  box-shadow: inset 300px 0 0 0 coral;
  color: white;
}

.profile-pic {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10rem;
  border: solid 1px gray;
  align-self: center;
}

.profile-username {
  /* border: solid 1px red; */
  margin-left: 1rem;
  text-transform: uppercase;
}

/* ListEntry */

.todo-container {
  border-bottom: solid 1px gray;
  display: flex;
  justify-content: center;
  width: 100%;
  animation: left-right 1s ease-in-out;
}

.todo-container:last-child {
  border-bottom: none;
}

@keyframes left-right {
  0% {
    opacity: 0%;
    transform: translateY(-10%);
  }
  100% {
    opacity: 100%;
    transform: translateY(0%);
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: solid 1px gray; */
  width: 100%;
  height: 5rem;
  padding: 1rem;
  /* background-color: red; */
}

.icon-container {
  /* border: solid 1px blue; */
  margin-left: auto;
  transition: 200ms all ease-in;
}

.todo-pen {
  /* color: blue; */
  margin: 0rem 1rem;
  cursor: pointer;
  transition: 200ms all ease-in;
}

.todo-pen:hover {
  color: var(--main-blue);
  animation-name: PenSpin;
  animation-duration: 1s;
  transition-timing-function: linear;
}

@keyframes PenSpin {
  0% {
    transform: rotate(0turn) scale(1);
  }
  25% {
    transform: rotate(0.05turn) scale(1);
    color: var(--main-blue);
  }
  50% {
    transform: rotate(0.02turn) scale(1);
    color: white;
  }
  75% {
    transform: rotate(0.05turn) scale(1);
    color: var(--main-blue);
  }
  100% {
    transform: rotate(0turn) scale(1);
  }
}

.todo-trash {
  /* color: red; */
  margin: 0rem 1rem;
  cursor: pointer;
}

.todo-trash:hover {
  color: var(--main-blue);
  animation-name: RevSpin;
  animation-duration: 2s;
  transition-timing-function: linear;
}

@keyframes RevSpin {
  0% {
    transform: rotate(0turn) scale(1);
    color: white;
  }
  25% {
    transform: rotate(0.1turn) scale(1.5);
    color: var(--main-blue);
  }
  75% {
    transform: rotate(-0.1turn) scale(1.3);
  }
  100% {
    transform: rotate(0turn) scale(1);
  }
}

.edit-btn {
  background-color: transparent;
  border: solid 1px lightgray;
  border-radius: 65rem;
  padding: 0.5rem;
}

.edit-check {
  background-color: transparent;
  color: var(--main-blue);
}

.edit-input {
  padding: 0.5rem;
  margin-right: 1rem;
  background-color: transparent;
  border: solid 1px gray;
}
